@{
    ViewBag.Title = "彩票選單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/lotteryMenu.css" asp-append-version="true" />


<div class="container">
    <div class="lottery-container">
        <a href="@Url.Action("Index", "Home")" class="back-button">← 返回首頁</a>
        
        <h1 class="lottery-title">🎰 彩票遊戲選單</h1>
        
        <div class="row g-4">
            <!-- 四星彩 -->
            <div class="col-lg-4 col-md-6">
                <div class="lottery-card" onclick="location.href='@Url.Action("Lottery539", "Home")'">
                    <div class="lottery-card-header">
                        <div class="lottery-icon">🎯</div>
                        <div class="lottery-name">四星彩</div>
                    </div>
                    <div class="lottery-card-body">
                        <div class="lottery-description">台灣最受歡迎的彩票遊戲</div>
                        <ul class="lottery-features">
                            <li>1-39號碼選擇</li>
                            <li>二星、三星、四星投注</li>
                            <li>每30秒開獎一次</li>
                            <li>即時開獎結果</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 大樂透 -->
            <div class="col-lg-4 col-md-6">
                <div class="lottery-card" onclick="location.href='@Url.Action("LotteryLotto", "Home")'">
                    <div class="lottery-card-header">
                        <div class="lottery-icon">🎲</div>
                        <div class="lottery-name">大樂透</div>
                    </div>
                    <div class="lottery-card-body">
                        <div class="lottery-description">高獎金彩票遊戲</div>
                        <ul class="lottery-features">
                            <li>1-49號碼選擇</li>
                            <li>6個號碼+1個特別號</li>
                            <li>每30秒開獎一次</li>
                            <li>頭獎最高2億</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 威力彩 -->
            <div class="col-lg-4 col-md-6">
                <div class="lottery-card" onclick="location.href='@Url.Action("LotteryPower", "Home")'">
                    <div class="lottery-card-header">
                        <div class="lottery-icon">⚡</div>
                        <div class="lottery-name">威力彩</div>
                    </div>
                    <div class="lottery-card-body">
                        <div class="lottery-description">超級大獎彩票</div>
                        <ul class="lottery-features">
                            <li>第一區1-38選6個</li>
                            <li>第二區1-8選1個</li>
                            <li>每30秒開獎一次</li>
                            <li>頭獎最高10億</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 今彩539 -->
            <div class="col-lg-4 col-md-6">
                <div class="lottery-card" onclick="location.href='@Url.Action("LotteryToday539", "Home")'">
                    <div class="lottery-card-header">
                        <div class="lottery-icon">🌟</div>
                        <div class="lottery-name">今彩539</div>
                    </div>
                    <div class="lottery-card-body">
                        <div class="lottery-description">每日開獎的熱門彩票</div>
                        <ul class="lottery-features">
                            <li>1-39號碼選擇</li>
                            <li>5個號碼開獎</li>
                            <li>每30秒開獎一次</li>
                            <li>中獎機率較高</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 雙色球 -->
            <div class="col-lg-4 col-md-6">
                <div class="lottery-card" onclick="location.href='@Url.Action("LotteryDoubleColor", "Home")'">
                    <div class="lottery-card-header">
                        <div class="lottery-icon">🔴🔵</div>
                        <div class="lottery-name">雙色球</div>
                    </div>
                    <div class="lottery-card-body">
                        <div class="lottery-description">紅藍雙色球彩票</div>
                        <ul class="lottery-features">
                            <li>紅球1-33選6個</li>
                            <li>藍球1-16選1個</li>
                            <li>每30秒開獎一次</li>
                            <li>多種投注方式</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 刮刮樂 -->
            <div class="col-lg-4 col-md-6">
                <div class="lottery-card" onclick="location.href='@Url.Action("LotteryScratch", "Home")'">
                    <div class="lottery-card-header">
                        <div class="lottery-icon">🎫</div>
                        <div class="lottery-name">刮刮樂</div>
                    </div>
                    <div class="lottery-card-body">
                        <div class="lottery-description">即時開獎刮刮樂</div>
                        <ul class="lottery-features">
                            <li>多種面額選擇</li>
                            <li>即刮即中獎</li>
                            <li>多種遊戲主題</li>
                            <li>中獎率透明</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // 添加卡片點擊效果
        $('.lottery-card').on('click', function() {
            $(this).addClass('active');
            setTimeout(() => {
                $(this).removeClass('active');
            }, 200);
        });
    });
</script>
